:root{
  --AzulClaro: #3cb2a2;  
  --verdeOpacoAzulado: #0e7d6c;  
  --Anaranjadito: #faa634;  
  --blancoGrisaceo: #e8e7e5;  
  --sombra: rgba(0, 0, 0, 0.5);
  --sombraClara: rgba(0, 0, 0, 0.25);
  --letraParrafos: 'Montserrat', sans-serif;
  --letraEnlaces: 'Anton', sans-serif; /*y SUBTITULOS*/
}
*{
  outline: none !important;
}
body{
  background-color: var(--blancoGrisaceo);
}

header{
  position: relative;
  padding-top: 58px;
  z-index: 9999;
  background-color: #fff;
}
#contact-nav{
  z-index: 9999;
  border-bottom: 3px solid yellow;
  background-color: var(--verdeOpacoAzulado);
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  transition: .3s;
}
#contact-nav.top-nav{
  top: 0;
}
#contact-nav > ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}
#contact-nav > .social-networks-left{
  grid-template-columns: auto;
  justify-items: left;
}
#contact-nav > .social-networks-right{
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 36px;
  gap: 15px;
}
#contact-nav > ul > li{
  padding: 5px 10px;
}
#contact-nav > ul > li:hover{
  background-color: #fff;
}
#contact-nav > ul > li:hover > a{
  color: #000;
}
#contact-nav > ul > li > a{
  font-family: var(--letraEnlaces);
  color: #fff;
}
nav{
  position: fixed;
  z-index: 9999;
  top: 39px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  min-height: 42px;
  max-height: 50px;
  transition: .2s;
  /* background-image: linear-gradient(to right, color(var(--verdeOpacoAzulado) alpha(81.6%)), 
                                              color(var(--AzulClaro)  alpha(81.6%))); */
}
nav.top-nav{
  top: 0;
  max-height: 58px;
}
nav.top-nav > .img-container{
  padding: 3px 0;
}
nav > .img-container{
  color: #000;
  display: grid;
  grid-template-columns: minmax(10px, 50px) auto;
  gap: 5px;
  justify-items: center;
  align-items: center;
  font-family: var(--letraEnlaces);
}
nav > .img-container > img{
  height: 100%;
}
nav > .menu-items.padding-12{
  padding: 8px 0;
}
nav > .menu-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--sombra);
  transition: .3s;
}
nav > .menu-overlay.hide{
  transform: translateX(-100%);
}
nav > .menu-items{
  z-index: 9999;
  position: fixed;
  right: 10px;
  bottom: 100px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background-color: #fff !important;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  list-style: none;
  transition: .3s;
}
nav > .menu-items > li{
  height: auto;
  display: flex;
  align-items: center;
}
nav > .menu-items > li > a{
  padding: 5px 10px;
  color: #000;
  font-family: var(--letraEnlaces);
}
nav > .menu-items > li > a:hover{
  color: #fff;
  background-color: var(--verdeOpacoAzulado);
}
nav > .menu-items.hide{
  right: -50%;
}
nav > .hamburger-btn{
  z-index: 9999;
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  justify-content: center;
  align-items: center;
  transition: .3s;
  outline: none;
}

.index-carousel{
  position: relative;
}
.index-carousel> a{
  z-index: 10;
}
.index-carousel> .carousel-inner > .carousel-item{
  height: 100vh;
  position: relative;
  z-index: 6;
}
.index-carousel> .carousel-inner > .carousel-item > img{
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.index-carousel> .carousel-inner > .carousel-item > .overlay-img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: var(--letraEnlaces);
  background-color: var(--sombra);
  display: grid;
  color: #fff;
  grid-template-columns: minmax(200px, 500px);
  grid-auto-columns: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
.index-carousel .overlay-img > p{
  margin: 0;
  text-align: center;
  font-size: 2em;
}
.index-carousel .overlay-img > p > span{
  padding: 0 25px;
  background-color: var(--Anaranjadito);
}

#crecimiento{
    width: 100%;
    margin-top: 30px;
}

/*Section Nosotros*/
#nosotros{
  display: grid;
  grid-template-columns: minmax(300px, 1100px);
  justify-content: center;
}
#nosotros > .contenedor-subtitulo{
  color: black;
  font-family: var(--letraEnlaces);
  border-bottom: 4px solid var(--Anaranjadito);
  justify-self: center;
}
#nosotros > .contenedor-subtitulo > h3{
  font-size: 40px;
}
#nosotros > .nosotros-container{
  margin-top: 15px;
  display: grid;
  grid-template-columns: minmax(300px, 650px);
  gap: 50px;
}
#nosotros > .nosotros-container > .descripcion{
  padding-top: 20px;
  text-align: center;
  font-family: var(--letraParrafos);
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}
#nosotros > .nosotros-container > .descripcion p{
  margin: 0;
}
#nosotros > .nosotros-container > .descripcion > .acciones{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: center;
}
#nosotros > .nosotros-container > .descripcion > .acciones > .mas-info{
  width: 150px;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: var(--letraEnlaces);
  background-color: var(--verdeOpacoAzulado);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(3px 3px 3px black);
}
#nosotros > .nosotros-container > .descripcion > .acciones > .mas-info:hover{
  background-color: var(--AzulClaro);
  filter: drop-shadow(4px 4px 3px black);
}
#nosotros > .nosotros-container > .descripcion > .acciones > .redes > img{
  width: 60px;
  margin-left: 20px;
  filter: drop-shadow(3px 3px 3px black);
}
#nosotros > .nosotros-container > .descripcion > .acciones > .redes > img:hover{
  filter: drop-shadow(4px 4px 3px black);
}
#nosotros > .nosotros-container > .img-container{
  grid-row: 1/2;
  align-self: center;
}
#nosotros > .nosotros-container > .img-container > img{
  width: 100%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
/*Section Servicios*/

#servicios{
  display: grid;
  grid-template-columns: minmax(300px, 1200px);
  justify-content: center;
  padding: 30px;
}
#servicios > .contenedor-subtitulo{
  color: black;
  font-family: var(--letraEnlaces);
  border-bottom: 4px solid var(--Anaranjadito);
  justify-self: center;
}
#servicios > .contenedor-subtitulo > h3{
  font-size: 40px;
  margin-top: 30px;
}
#servicios > .service-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: minmax(200px, 500px);
  gap: 20px;
  justify-content: center;
}
#servicios > .service-container > .service-item{
  padding-bottom: 30px;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: var(--AzulClaro);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}
#servicios > .service-container > .service-item:hover{
  animation-duration: 1.2s;
  animation-name: sombrea;
  box-shadow: 7px 7px 7px rgb(66, 66, 66);
}

@keyframes sombrea{
  from{
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
  }
  to{
    box-shadow: 7px 7px 7px rgb(66, 66, 66);
  }
}

#servicios > .service-container > .service-item > .imagen{
  background-color: var(--blancoGrisaceo);
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#servicios > .service-container > .service-item > .imagen > img{
  width: 100%;
  filter: drop-shadow(4px 4px 3px var(--Anaranjadito));
}
#servicios > .service-container > .service-item > .contenedor-info{
  margin-top: 10px;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
#servicios > .service-container > .service-item > .contenedor-info > h3{
  margin: 0;
  font-family: var(--letraEnlaces);
  font-size: 40px;
  text-shadow: 2px 2px 2px black;
  align-self: center;
  letter-spacing: 1px;
}
#servicios > .service-container > .service-item > .contenedor-info > p{
  margin: 0;
  font-family: var(--letraParrafos);
  font-weight: 550;
}
#servicios > .service-container > .service-item > a{
  padding:10px;
  color: black;
  font-family: var(--letraEnlaces);
  background-color: var(--Anaranjadito);
  filter: drop-shadow(2px 2px 3px black);
  justify-self: center;
}
#servicios > .service-container > .service-item > a:hover{
  background-color: #f8b352;
  filter: drop-shadow(4px 4px 3px rgb(41, 41, 41));
}

#contact{
  font-family: var(--letraEnlaces);
  margin-top: 23px;
}
#contact > h3{
  margin: 0;
  background-color: var(--AzulClaro);
  color: #fff;
}
#contact > .contact-container{
  display: grid;
  grid-template-columns: minmax(250px, 950px);
  justify-content: center;
  background-color: var(--verdeOpacoAzulado);
}
#contact > .contact-container > form{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  column-gap: 50px;
}
#contact > .contact-container > form label,
#contact > .contact-container > form textarea::placeholder{
  color: #fff;
}
#contact > .contact-container > form input,
#contact > .contact-container > form textarea{
  border-bottom: 3px solid #fff;
  color: #fff;
}
#contact > .contact-container > form button{
  padding: 5px 70px;
  color: #fff;
  background-color: transparent;
  border: 3px solid var(--Anaranjadito);
}
#contact > .contact-container > form textarea{
  padding: 10px;
  height: 200px;
  background-color: var(--sombraClara);
  resize: none;
}

@media screen and (min-width: 576px){
  .index-carousel .overlay-img > p{
    font-size: 3.5em;
    text-align: start;
  }
  .index-carousel> .carousel-inner > .carousel-item > .overlay-img{
    justify-content: end;
  }
  .index-carousel> .carousel-inner > .carousel-item:nth-of-type(3) > .overlay-img{
    justify-content: start;
  }
}
@media screen and (min-width: 650px){
  #contact-nav > .social-networks-right{
    margin-right: 25px;
  }
  nav{
    justify-content: space-between;
  }
  nav > .img-container{
    margin-left: 25px;
  }

  #nosotros > .nosotros-container{
    grid-template-columns: minmax(300px, 650px) minmax(300px, 650px);
    gap: 30px;
    margin-top: 30px;
  }
  #nosotros > .nosotros-container > .descripcion{
    padding-top: 55px;
    font-family: var(--letraParrafos);
    text-align: center;
  }
  #nosotros > .nosotros-container > .img-container{
    grid-column: 2/3;
  }
  
}
@media screen and (min-width: 768px){ 
  nav > .menu-items{
    position: unset;
    margin-right: 25px;
    border-radius: unset;
    grid-template-columns: repeat(4, auto);
    gap: 40px;
  }
  #contact > .contact-container > form{
    grid-template-columns: 1fr 1fr;
  }
  #contact > .contact-container > form > .md-form:nth-of-type(5),
  #contact > .contact-container > form > .boton-enviar{
    grid-column: 2 span;
  }
} 
@media screen and (min-width: 850px){
  #servicios > .service-container{
    grid-template-columns: repeat(3, minmax(200px, 500px));
  }
}