:root{
  --AzulClaro: #3cb2a2;  
  --verdeOpacoAzulado: #0e7d6c;  
  --Anaranjadito: #faa634;  
  --blancoGrisaceo: #e8e7e5;  
  --letraParrafos: 'Montserrat', sans-serif;
  --letraEnlaces: 'Anton', sans-serif; /*y SUBTITULOS*/
}
body{
  background-color: var(--blancoGrisaceo);
}

/*Section Nosotros*/
#nosotros > .contenedor-principal{
    display: grid;
    grid-template-columns: minmax(300px, 1200px);
    justify-content: center;
}

#nosotros > .contenedor-principal >.contenedor-subtitulo{
    font-family: var(--letraEnlaces);
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid var(--Anaranjadito);
    margin-top: 30px;
}
#nosotros > .contenedor-principal >.contenedor-subtitulo > h3{
    font-size: 40px;
}
#nosotros > .contenedor-principal >.contenedor-secundario{
    margin-top: 30px;
    display: grid;
    grid-template-columns: minmax(300px, 650px) minmax(300px, 650px);
    gap: 10px;
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion{
    padding-top: 55px;
    font-family: var(--letraParrafos);
    text-align: center;
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion > .acciones{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    justify-content: center;
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion > .acciones > .mas-info{
    background-color: var(--verdeOpacoAzulado);
    padding: 10px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 25px;
    font-family: var(--letraEnlaces);
    border-radius: 5px;
    filter: drop-shadow(3px 3px 3px black);
    width: 150px;
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion > .acciones > .mas-info:hover{
    background-color: var(--AzulClaro);
    filter: drop-shadow(4px 4px 3px black);
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion > .acciones > .redes > img{
    width: 60px;
    margin-left: 20px;
    filter: drop-shadow(3px 3px 3px black);
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion > .acciones > .redes > img:hover{
    filter: drop-shadow(4px 4px 3px black);
}
#nosotros > .contenedor-principal >.contenedor-secundario > .imagen > img{
    width: 100%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}