:root{
  --AzulClaro: #3cb2a2;  
  --verdeOpacoAzulado: #0e7d6c;  
  --Anaranjadito: #faa634;  
  --blancoGrisaceo: #e8e7e5;  
  --sombra: rgba(0, 0, 0, 0.5);
  --sombraClara: rgba(0, 0, 0, 0.25);
  --letraParrafos: 'Montserrat', sans-serif;
  --letraEnlaces: 'Anton', sans-serif; /*y SUBTITULOS*/
}
*{
  outline: none !important;
}
body{
  background-color: var(--blancoGrisaceo);
}

#crecimiento{
    width: 100%;
    margin-top: 30px;
}

/*Section Nosotros*/
#nosotros > .contenedor-principal{
    display: grid;
    grid-template-columns: minmax(300px, 1200px);
    justify-content: center;
    padding: 30px;
}

#nosotros > .contenedor-principal >.contenedor-subtitulo{
    font-family: var(--letraEnlaces);
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid var(--Anaranjadito);
    margin-top: 30px;
}
#nosotros > .contenedor-principal >.contenedor-subtitulo > h3{
    font-size: 40px;
}
#nosotros > .contenedor-principal >.contenedor-secundario{
    margin-top: 15px;
    display: grid;
    grid-template-columns: minmax(300px, 650px);
    gap: 50px;
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion{
    padding-top: 20px;
    font-family: var(--letraParrafos);
    text-align: center;
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion > .acciones{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    justify-content: center;
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion > .acciones > .mas-info{
    background-color: var(--verdeOpacoAzulado);
    padding: 10px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 25px;
    font-family: var(--letraEnlaces);
    border-radius: 5px;
    filter: drop-shadow(3px 3px 3px black);
    width: 150px;
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion > .acciones > .mas-info:hover{
    background-color: var(--AzulClaro);
    filter: drop-shadow(4px 4px 3px black);
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion > .acciones > .redes > img{
    width: 60px;
    margin-left: 20px;
    filter: drop-shadow(3px 3px 3px black);
}
#nosotros > .contenedor-principal >.contenedor-secundario > .descripcion > .acciones > .redes > img:hover{
    filter: drop-shadow(4px 4px 3px black);
}
#nosotros > .contenedor-principal >.contenedor-secundario > .imagen{
    grid-row: 1/2;
}
#nosotros > .contenedor-principal >.contenedor-secundario > .imagen > img{
    width: 100%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
/*Section Servicios*/

#servicios > .contenedor-principal{
    display: grid;
    grid-template-columns: minmax(300px, 1200px);
    justify-content: center;
    padding: 30px;
}

#servicios > .contenedor-principal >.contenedor-subtitulo{
    font-family: var(--letraEnlaces);
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid var(--Anaranjadito);
    margin-top: 15px;
}
#servicios > .contenedor-principal >.contenedor-subtitulo > h3{
    font-size: 40px;
}
#servicios > .contenedor-principal > .contenedor-secundario{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    gap: 30px;
    justify-content: center;
    padding: 20px;
}
#servicios > .contenedor-principal > .contenedor-secundario > .card{
    background-color: var(--AzulClaro);
    padding: 10px;
    padding-bottom: 30px;
}
#servicios > .contenedor-principal > .contenedor-secundario > .card:hover{
    animation-duration: 1.2s;
    animation-name: sombrea;
    box-shadow: 7px 7px 7px rgb(66, 66, 66);
}

@keyframes sombrea{
    from{
        box-shadow: 2px 2px 2px rgb(83, 83, 83);
    }
    to{
        box-shadow: 7px 7px 7px rgb(66, 66, 66);
    }
}

#servicios > .contenedor-principal > .contenedor-secundario > .card > .imagen{
    background-color: var(--blancoGrisaceo);
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#servicios > .contenedor-principal > .contenedor-secundario > .card > .imagen > img{
    width: 100%;
    filter: drop-shadow(4px 4px 3px var(--Anaranjadito));
}
#servicios > .contenedor-principal > .contenedor-secundario > .card > .contenedor-info{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    color: white;
}
#servicios > .contenedor-principal > .contenedor-secundario > .card > .contenedor-info > h3{
    font-family: var(--letraEnlaces);
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 1px;
}
#servicios > .contenedor-principal > .contenedor-secundario > .card > .contenedor-info > p{
    font-family: var(--letraParrafos);
    font-weight: 550;
    margin-bottom: 20px;
}
#servicios > .contenedor-principal > .contenedor-secundario > .card > .contenedor-info > a{
    background-color: var(--Anaranjadito);
    margin-top: 10px;
    padding:10px;
    margin-bottom: 30px;
    filter: drop-shadow(2px 2px 3px black);
    color: black;
    font-family: var(--letraEnlaces);
}
#servicios > .contenedor-principal > .contenedor-secundario > .card > .contenedor-info > a:hover{
    background-color: #f8b352;
    filter: drop-shadow(4px 4px 3px rgb(41, 41, 41));
}

#contact{
  
}
#contact > h3{
  margin: 0;
  background-color: var(--AzulClaro);
  font-weight: bold;
  color: #fff;
}
#contact > .contact-container{
  display: grid;
  grid-template-columns: minmax(250px, 950px);
  justify-content: center;
  background-color: var(--verdeOpacoAzulado);
}
#contact > .contact-container > form{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  column-gap: 50px;
}
#contact > .contact-container > form label,
#contact > .contact-container > form textarea::placeholder{
  color: #fff;
  font-weight: bold;
}
#contact > .contact-container > form input,
#contact > .contact-container > form textarea{
  border-bottom: 3px solid #fff;
  color: #fff;
}
#contact > .contact-container > form button{
  padding: 5px 70px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 3px solid var(--Anaranjadito);
}
#contact > .contact-container > form textarea{
  padding: 10px;
  height: 200px;
  background-color: var(--sombraClara);
  resize: none;
}

@media screen and (min-width: 650px){
  #nosotros > .contenedor-principal{
      padding: 10px;
  }
  #nosotros > .contenedor-principal >.contenedor-secundario{
      grid-template-columns: minmax(300px, 650px) minmax(300px, 650px);
      gap: 10px;
      margin-top: 30px;
  }
  #nosotros > .contenedor-principal >.contenedor-secundario > .descripcion{
      padding-top: 55px;
      font-family: var(--letraParrafos);
      text-align: center;
  }
  #nosotros > .contenedor-principal >.contenedor-secundario > .imagen{
      grid-column: 2/3;
  }
  
}
@media screen and (min-width: 768px){
  #contact > .contact-container > form{
    grid-template-columns: 1fr 1fr;
  }
  #contact > .contact-container > form > .md-form:nth-of-type(5),
  #contact > .contact-container > form > .boton-enviar{
    grid-column: 2 span;
  }
} 
